<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gravityleosmad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GravityLeosMAD">
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity 
             android:name=".payment.payment1"
             android:exported="true"/>
        <activity 
             android:name=".payment.payment2"
             android:exported="true"/>
        <activity
            android:name=".senuri"
            android:exported="true" />
        <activity
            android:name=".Delivery.PickAndGoCreate"
            android:exported="true" />
        <activity
            android:name=".Delivery.PickAndGoUpdate"
            android:exported="true" />
        <activity
            android:name=".Delivery.PickAndGoViewPage"
            android:exported="true" />
        <activity
            android:name=".Delivery.PickAndGoView"
            android:exported="true" />
        <activity
            android:name=".Delivery.CashOnDeliveryCreate"
            android:exported="true" />
        <activity
            android:name=".Delivery.CashOnDeliveryViewPage"
            android:exported="true" />
        <activity
            android:name=".Delivery.CashOnDeliveryUpdate"
            android:exported="true" />
        <activity
            android:name=".Delivery.CashOnDeliverView"
            android:exported="true" />
        <activity
            android:name=".Delivery.DeliveryHome"
            android:exported="true" />
    </application>

</manifest>